@import "../Utils/mixins";
@import "../Utils/variables";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: url(./images/logo.png) fixed no-repeat center;
  background-color: $bg;
  margin-bottom: 50px;
  main {
    section {
      width: 80vw;
      margin: auto;
      margin-top: 30px;
      background: url(./images/vinewood.jpg) no-repeat top;
      @include background-img;
      border: 1px solid $border;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 20px $border-shadow;
      box-shadow: 0 0 20px $border-shadow;
      .blur {
        @include blur;
        padding-top: 2px;
        padding-bottom: 20px;
        border-radius: 10px;
      }
      h2 {
        margin-left: 20px;
        font-size: 2em;
      }
      h3 {
        margin-left: 40px;
        font-size: 1.5em;
      }
      h4 {
        margin-left: 50px;
        font-size: 1.2em;
      }
      p {
        margin-left: 30px;
        font-size: 1.2em;
      }
    }
  }
}
