@import "../Utils/mixins";
@import "../Utils/variables";

@-webkit-keyframes slide_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-180px);
    transform: translateX(-180px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide_bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide_bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(180px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(180px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
