$primaire: blue;
$secondaire: red;
$tertiaire: green;

$un: #6688e5;
$deux: #5fc8fa;
$trois: #172cad;
$quatre: #6a6ad2;
$cinq: #aeb4ee;
$six: #2d66d6;
$sept: #4747c5;
$huit: #9c94e4;
$neuf: #2254dc;

$bg: #0e0e47;
$bg-transparent: #10102c7e;
$bg-footer: #18187a;
$text: $deux;
$border: $un;
$textshadow: $un;
