$un: #6688e5;
$deux: #5fc8fa;
$trois: #172cad;
$quatre: #6a6ad2;
$cinq: #b2b1f0;
$six: #2d66d6;
$sept: #4747c5;
$huit: #8685de;
$neuf: #2254dc;

$bg: #0e0e47;
$bg-transparent: #10102c7e;
$bg-footer: #18187a;
$text: $deux;
$border: #7fd6f9;
$border-shadow: #4485e2;
$textshadow: $six;
$discord: #5662f6;
