@import "../../Utils/variables";
@import "../../Utils/mixins";

main {
  #sommaire {
    width: 45vw;
    -webkit-animation: sommaire-pop 2s ease 0s 1 normal forwards;
    animation: sommaire-pop 2s ease 0s 1 normal forwards;
    .blur {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      .sommaire__tile {
        text-align: center;
        margin: auto;
        margin-top: 20px;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        a {
          text-decoration: none;
          -webkit-transition: font-size 300ms, color 300ms;
          -o-transition: font-size 300ms, color 300ms;
          transition: font-size 300ms, color 300ms;
          &:hover {
            font-size: 1.2em;
            color: $neuf;
            text-shadow: 2px 3px 8px $neuf;
          }
        }
        h3,
        h4 {
          margin-left: 0;
        }
      }
      .sommaire__general {
        grid-area: 2 / 1 / 3 / 2;
        -webkit-animation: sommaire-slide 2s ease 1.5s 1 normal forwards;
        animation: sommaire-slide 2s ease 1.5s 1 normal forwards;
      }
      .sommaire__legal {
        grid-area: 2 / 2 / 3 / 3;
        -webkit-animation: sommaire-slide 1.4s forwards 1s;
        animation: sommaire-slide 1.4s forwards 3s;
      }
      .sommaire__illegal {
        grid-area: 2 / 3 / 3 / 4;
        -webkit-animation: sommaire-slide 1.4s forwards 2s;
        animation: sommaire-slide 1.4s forwards 4s;
      }
    }
  }
  .section_reglement {
    text-align: center;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation: section-pop 2.5s ease 1s 1 normal forwards;
    animation: section-pop 2.5s ease 1s 1 normal forwards;
    .blur {
      .accordion {
        &-category {
          article {
            position: relative;
            .unfold {
              position: absolute;
              top: 0;
              right: 620px;
              width: 30px;
              height: 30px;
              background-color: $bg;
              border: 1px solid $border;
              -webkit-box-shadow: 0 0 30px $border;
              box-shadow: 0 0 30px $border;
              -ms-flex-item-align: center;
              align-self: center;
              cursor: pointer;
              border-radius: 50px;
              &:hover {
                -webkit-transition: 400ms;
                -o-transition: 400ms;
                transition: 400ms;
              }
              &:active {
                -webkit-transform: scale(0.8);
                -ms-transform: scale(0.8);
                transform: scale(0.8);
              }
            }
          }
        }
      }
    }
    &-div {
      width: 60vw;
      text-align: left;
      margin: auto;
    }
  }
}
