@import "../../Utils/variables";
@import "../../Utils/mixins";

.section-staff {
  h2 {
    text-align: center;
  }
  .staff,
  .staff-reversed {
    margin: auto;
    // width: 80vw;
    width: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    img {
      border: 2px solid $border;
      border-radius: 150px;
      -webkit-box-shadow: 0 0 30px $border;
      box-shadow: 0 0 30px $border;
    }
  }
  .staff-reversed {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
