@import "../Utils/mixins";
@import "../Utils/variables";

* {
  color: $text;
  text-shadow: 3px 3px 5px $textshadow;
}
h1,
h2 {
  color: $huit;
  text-shadow: 3px 3px 5px $trois;
}
.sommaire__tile {
  h3 {
    color: $huit;
    text-shadow: 3px 3px 5px $trois;
  }
}
