@import "../Utils/mixins";
@import "../Utils/variables";

* {
  color: $text;
  text-shadow: 3px 3px 5px $textshadow;
}

.blur {
  @include blur;
  padding-top: 2px;
  padding-bottom: 20px;
  border-radius: 10px;
}
